@page
@using AppTreinoCarlos.Models
@model AppTreinoCarlos.Pages.AddTreinoModel
@{
    //List<Treino> Treinos = (List<Treino>)ViewData["Treino1"];
    List<Atleta> Atletas = (List<Atleta>)ViewData["Atletas"];
    //string idInstrutor = ViewData["idInstrutor1"].ToString();
    string idInstrutor = Request.Cookies["idInstrutor"];
    string idTreino = ViewData["idTreino"].ToString();
}

<html>
<head>
    <style>
        .wrap-list {
            margin-top: 5px;
            background-color: #e9e9e9;
            color: dimgray;
            padding: 5px;
            border: solid 1px;
            border-color: #e9e9e9;
            box-shadow: #d3d3d3 2px 2px 1px;
            border-radius: 50px;
            text-align: center;
            width: 90px;
        }

        .wrap-list2 {
            margin-top: 5px;
            background-color: #e9e9e9;
            color: dimgray;
            padding: 5px;
            border: solid 1px;
            border-color: #e9e9e9;
            box-shadow: #d3d3d3 2px 2px 1px;
            border-radius: 50px;
            text-align: center;
            width: 90px;
        }

        .wrap-list3 {
            margin-top: 5px;
            background-color: #e9e9e9;
            color: dimgray;
            padding: 5px;
            border: solid 1px;
            border-color: #e9e9e9;
            box-shadow: #d3d3d3 2px 2px 1px;
            border-radius: 50px;
            text-align: center;
            width: 90px;
        }

        .wrap-list4 {
            margin-top: 5px;
            background-color: #e9e9e9;
            color: dimgray;
            padding: 5px;
            border: solid 1px;
            border-color: #e9e9e9;
            box-shadow: #d3d3d3 2px 2px 1px;
            border-radius: 50px;
            text-align: center;
            width: 90px;
        }
    </style>
</head>

<body style=" display:flex;">
    <div id="mostraTd" x-show="isModalOpen"
         class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
         role="dialog">

        <div class="mt-4 mb-6">
            <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
                Adicionar Treino
            </p>
            <!-- Modal description -->

            <label class="block text-sm" style="margin: 10px;">
                <span class="text-gray-700 dark:text-gray-400">Descrição:</span>
                <input id="descricao" class="inputUnico block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                       placeholder="">
            </label>

            <label class="block text-sm" style="margin: 10px;">
                <span class="text-gray-700 dark:text-gray-400">Data:</span>
                <input id="dataIni" class="inputUnico block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                       placeholder="Jane Doe" type="date">
            </label>

            <label class="block text-sm" style="margin: 10px;">
                <span class="text-gray-700 dark:text-gray-400">Tipo Evento:</span>
                <select id="tipoEvento" class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
                    <option selected value="0">Treino</option>
                    <option value="1">Jogo</option>
                </select>
            </label>

            <div class="block mt-4 text-sm">
                <div style="display: inline;">
                    <span style="float: left;" class="text-gray-700 dark:text-gray-400">
                        Atletas
                    </span>

                </div>

                <div class="CorButton" style="display: inline;">
                    <span onclick="SendWrap();" class="material-icons CorButton box1 box2" id="SalvaS"
                          style=" float: right; font-size: 30px; cursor: pointer;">
                        add_circle
                    </span>
                </div>

                <script src=" https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
                </script>
                <select name="selection" id="selection"
                        class=" block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" multiple="">
                    @if (Atletas != null)
                    {
                        @foreach (Atleta S in Atletas)
                        {
                            <option value="@S.id">@S.nome</option>
                        }
                    }
                </select>
                <div class="container">
                    <span>
                        <input id="wr1" name="" value="" readonly class="wrap-list" onclick="removeAtleta('wr1');">
                        <input id="wr2" name="" value="" readonly class="wrap-list2" onclick="removeAtleta('wr2');">
                        <input id="wr3" name="" value="" readonly class="wrap-list3" onclick="removeAtleta('wr3');">
                        <input id="wr4" name="" value="" readonly class="wrap-list4" onclick="removeAtleta('wr4');">
                    </span>
                </div><br />


            </div>
        </div>
        <div class="flex flex-col items-center justify-end px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row ">
            <button onclick="EnviaTreino();" class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                Salvar
            </button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            document.getElementById("dataIni").valueAsDate = new Date();
        });

        function SendWrap() {
            selection = document.getElementById("selection");
            var wrap =  ["wr1", "wr2", "wr3", "wr4"];
            for (var i = 0; i < 4; i++) {
                if (document.getElementById(wrap[i]).value == "") {
                    document.getElementById(wrap[i]).value = selection.value.concat("-").concat(selection.options[selection.selectedIndex].text);
                    return;
                }
            }
        }

        function removeAtleta(wr) {
             document.getElementById(wr).value = "";
             return;
        }

        $('#selectOption').change(function () {
            var option = $('#selectOption').find(":selected").val();

        });

        $(".box1").change(function () {
            var selected = $(this).find("option:selected").text();
            $(".wrap-list").val(selected);
            if (selected == null) {
                $(".wrap-list").show();
            }
        });

        $(".box1").change(function () {
            var selected = $(this).find("option:selected").text();
            $(".wrap-list").val(selected);
            if (selected == null) {
                $(".wrap-list").show();
            }
        });

        $('.inputUnico').keypress(function (e) {
            var tecla = (e.keyCode ? e.keyCode : e.which);
            if (tecla == 13) {
                campo = $('.inputUnico');
                indice = campo.index(this);
                if (campo[indice + 1] != null) {
                    proximo = campo[indice + 1];
                    proximo.focus();
                } else {
                    return true;
                }
            }
            if (tecla == 13) {
                e.preventDefault(e);
                return false;
            } else {
                return true;
            }
        })

        function EnviaTreino() {
            const _descricao = document.getElementById("descricao").value;
            const _dataIni = document.getElementById("dataIni").value;
            const _dtFim = _dataIni;
            const _tipoEvento = document.getElementById("tipoEvento").value;

            const o = new Object();
            o.idTreino = @idTreino;
            o.idInstrutor = @idInstrutor;
            o.descricao = _descricao;
            o.dataIni = _dataIni;
            o.dataFim = _dtFim;
            o.tipoEvento = _tipoEvento;
            var atletas = [];
            selection = document.getElementById("selection");
            var wrap = ["wr1", "wr2", "wr3", "wr4"];
            for (var i = 0; i < 4; i++) {
                if (document.getElementById(wrap[i]).value != "") {
                    atletas.push(document.getElementById(wrap[i]).value.split('-')[0]);
                    //.split('-')[0]
                }
            }
            o.atletas = atletas;

            $.ajax({
                context: this,
                url: '/Home/SetTreino',
                type: 'POST',
                data: JSON.stringify(o),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    Notiflix.Loading.dots('Aguarde...');
                },
                success: function (data) {
                    if (data.EmbeddedData == null) {
                        Notiflix.Loading.remove();
                        ShowError(data);
                    }
                    Notiflix.Loading.remove();
                    const returnData = JSON.parse(data);
                    if (returnData.MessageType !== 0) {
                        ShowMessage(returnData);
                        return;
                    }

                    document.location.reload(true);
                    return;
                },
                error: function (data) {
                    Notiflix.Loading.remove();
                    ShowError(data);
                }
            });

        }



    </script>
</body>
</html>