@page
@using AppTreinoCarlos.Models
@model AppTreinoCarlos.Pages.AddTopicoModel

@{
    string idTopico = ViewData["idTopico"].ToString();
    string descTopico = ViewData["descTopico"].ToString();
    string tipoTopico = ViewData["tipoTopico"].ToString();
}

<html>
<head>
    <title></title>
</head>

<body style=" display:flex;">
    <div id="mostraTd" x-show="isModalOpen"
         class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
         role="dialog">

        <div class="mt-4 mb-6">
            <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
                Adicionar Topicos
            </p>
            <!-- Modal description -->

            <label class="block text-sm" style="margin: 10px;">
                <span class="text-gray-700 dark:text-gray-400">Descrição:</span>
                <input id="descricao" class="inputUnico block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                       placeholder="" value="@(descTopico!=""?descTopico:" ")">
            </label>


            <label class="block text-sm" style="margin: 10px;">
                <span class="text-gray-700 dark:text-gray-400">Tipo Evento:</span>
                <select id="tipoEvento" class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
                    <option selected value="0">Defesa</option>
                    <option value="1">Ataque</option>
                </select>
            </label>

        </div>
        <div class="flex flex-col items-center justify-end px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row ">
            <button onclick="EnviaTopico()"
                class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" >
                Salvar
            </button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            validalogin();
            let element = document.getElementById("tipoEvento");
            element.value =  @(tipoTopico!="" ? tipoTopico : "0");
        });

        function EnviaTopico() {

            const o = new Object();
            o.id = @(idTopico!="" ? idTopico : "0");
            o.instrutorId = getCookie("idInstrutor");
            o.descricao = document.getElementById("descricao").value;
            o.ativo = 1
            var e = document.getElementById("tipoEvento");
            //o.Tipo = e.value == "Defesa" ? "0" : "1";
            o.Tipo = document.getElementById("tipoEvento").value;
            $.ajax({
                context: this,
                url: '/Home/SetTopico',
                type: 'POST',
                data: JSON.stringify(o),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    Notiflix.Loading.dots('Aguarde...');
                },
                success: function (data) {
                    if (data == null) {
                        Notiflix.Loading.remove();
                        ShowError(data);
                    }
                    Notiflix.Loading.remove();
                    const returnData = JSON.parse(data);
                    if (returnData.MessageType !== 0) {
                        ShowMessage(returnData);
                        return;
                    }

                    //document.location.reload(true);
                    //window.location.reload(history.back());
                    window.location = document.referrer;
                    return;
                },
                error: function (data) {
                    Notiflix.Loading.remove();
                    ShowError(data);
                }
            });
        }


    </script>
</body>

</html>