@page
@model AppTreinoCarlos.Pages.ConsultaTreinosModel

<html>

<head>
    <style>
        input {
            margin: 5px;
            border: solid 1px;
            width: 65px;
            border-color: black;
        }

        .div1 {
            width: 50%;
            display: inline;
            float: left;
        }

        .div2 {
            width: 50%;
            display: inline;
            float: right;
        }

        .titulo {
            background-color: #7e3af2;
            color: white;
            padding: 8px;
            border-radius: 50px;
            font-size: 18px;
            font-weight: 700;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }
    </style>
</head>

<body style="display: flex;">
    <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Adiciona Tópicos
            </h2>

            <table class="w-full whitespace-no-wrap " style="">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th style="width: 10%;" class="px-4 py-3">Treinos</th>
                        <th style="width: 10%;" class="px-4 py-3">Data</th>
                        <th style="width: 10%;" class="px-4 py-3">Avaliar</th>
                        <th style="width: 10%;" class="px-4 py-3"></th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    <tr class="text-gray-700 dark:text-gray-400">
                        <td>
                            <div class="flex items-center text-sm">
                                <!-- Avatar with inset shadow -->
                                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                    <span class="material-icons"
                                        style="font-size: 35px; display: flex; justify-content: center;">
                                        account_circle
                                    </span>
                                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                    </div>
                                </div>
                                <div>
                                    <p class="font-semibold" style="cursor: pointer;">Crossfit
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            18/01/2022
                        </td>

                        <td>


                            <span class="material-icons" id="mod alHiden"
                                style="color: purple; font-size: 35px; cursor: pointer;" href="#open-modal"
                                onclick="exibir();">
                                add_circle
                            </span>

                        </td>


                        <td class="px-4 py-3">
                            <div class="flex items-center space-x-4 text-sm">
                                <button style="margin: 0px;"
                                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                    aria-label="Edit">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                        <path
                                            d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                        </path>
                                    </svg>
                                </button>
                                <button style="margin: 0px;"
                                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                    aria-label="Delete">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>






            <div id="modal4" style="display: flex; justify-items: center; display: none;" x-show="isModalOpen"
                x-transition:enter="transition ease-out duration-150" x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-150"
                x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
                class="hidden fixed inset-0 z-30 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
                <!-- Modal -->
                <div id="mostraTd" x-show="isModalOpen"
                    class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
                    role="dialog" id="modal">
                    <header class="flex justify-end">
                        <button onclick="fecha();"
                            class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700"
                            aria-label="close">
                            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" role="img" aria-hidden="true">
                                <path
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </header>
                    <div class="mt-4 mb-6">
                        <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
                            Adicionar Treinos
                        </p>
                        <!-- Modal description -->
                        <p class="my-4 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                            Cardeneta de Avaliações
                        </p><br>

                        <div style="display: flex; width: 100%;">
                            <div class="div2">
                                <table>
                                    <p class="mb-2  font-semibold text-gray-700 dark:text-gray-300">
                                        Ataque
                                    </p>
                                    <tr>
                                        <td class="text-gray-700 dark:text-gray-400">Força:</td>
                                        <td><input type="number"></td>
                                    </tr>

                                    <tr>
                                        <td class="text-gray-700 dark:text-gray-400">Agilidade:</td>
                                        <td><input type="number"></td>
                                    </tr>

                                    <tr>
                                        <td class="text-gray-700 dark:text-gray-400">Velocidade:</td>
                                        <td><input type="number"></td>
                                    </tr>

                                    <tr>
                                        <td class="text-gray-700 dark:text-gray-400">Resistência:</td>
                                        <td><input type="number"></td>
                                    </tr>

                                </table>
                            </div>

                            <div class="div2">
                                <table>
                                    <p class="mb-2  font-semibold text-gray-700 dark:text-gray-300">
                                        Defesa
                                    </p>
                                    <tr>
                                        <td class="text-gray-700 dark:text-gray-400">Força:</td>
                                        <td><input type="number"></td>
                                    </tr>

                                    <tr>
                                        <td class="text-gray-700 dark:text-gray-400">Agilidade:</td>
                                        <td><input type="number"></td>
                                    </tr>

                                    <tr>
                                        <td class="text-gray-700 dark:text-gray-400">Velocidade:</td>
                                        <td><input type="number"></td>
                                    </tr>

                                    <tr>
                                        <td class="text-gray-700 dark:text-gray-400">Resistência:</td>
                                        <td><input type="number"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>



                    </div>
                    <footer
                        class="flex flex-col items-center justify-end px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row bg-gray-50 dark:bg-gray-800">
                        <button
                            class="w-full px-5 py-3 text-sm font-medium leading-5 text-white text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
                            Cancel
                        </button>
                        <button
                            class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                            ADD
                        </button>
                    </footer>
                </div>
            </div>























            <div id="modal2"
                class=" hidden modaltwo max-w-2xl px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
                style="width: 100%; padding: 0px;">
                <header class="flex justify-end">
                    <button onclick="fecha();"
                        class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700"
                        aria-label="close">
                        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" role="img" aria-hidden="true">
                            <path
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd" fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </header>
                <div class="mt-4 mb-6">
                    <p class="my-4 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        Cardeneta de Avaliações
                    </p><br>
                    <!-- Modal description -->

                    <div style="display: flex; width: 100%;">
                        <div class="div2">
                            <table>
                                <p class="mb-2  font-semibold text-gray-700 dark:text-gray-300">
                                    Ataque
                                </p>
                                <tr>
                                    <td class="text-gray-700 dark:text-gray-400">Força:</td>
                                    <td><input type="number"></td>
                                </tr>

                                <tr>
                                    <td class="text-gray-700 dark:text-gray-400">Agilidade:</td>
                                    <td><input type="number"></td>
                                </tr>

                                <tr>
                                    <td class="text-gray-700 dark:text-gray-400">Velocidade:</td>
                                    <td><input type="number"></td>
                                </tr>

                                <tr>
                                    <td class="text-gray-700 dark:text-gray-400">Resistência:</td>
                                    <td><input type="number"></td>
                                </tr>

                            </table>
                        </div>

                        <div class="div2">
                            <table>
                                <p class="mb-2  font-semibold text-gray-700 dark:text-gray-300">
                                    Defesa
                                </p>
                                <tr>
                                    <td class="text-gray-700 dark:text-gray-400">Força:</td>
                                    <td><input type="number"></td>
                                </tr>

                                <tr>
                                    <td class="text-gray-700 dark:text-gray-400">Agilidade:</td>
                                    <td><input type="number"></td>
                                </tr>

                                <tr>
                                    <td class="text-gray-700 dark:text-gray-400">Velocidade:</td>
                                    <td><input type="number"></td>
                                </tr>

                                <tr>
                                    <td class="text-gray-700 dark:text-gray-400">Resistência:</td>
                                    <td><input type="number"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <footer class=" items-center justify-end  bg-gray-50 dark:bg-gray-800">
                    <button style="display: flex; float: right;  justify-content: center; width: 120px; padding: 8px;"
                        class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        Enviar
                    </button>
                </footer>
            </div>
        </div>
    </main>

    <script>
        function exibir() {
            document.getElementById('modal4').style.display = "block";
            document.getElementById('modal4').style.display = "flex";
            document.getElementById('modal4').style.justifyItems = "center";
        }

        function fecha() {
            document.getElementById('modal4').style.display = "none";
        }

    </script>
</body>

</html>