@page
@model AppTreinoCarlos.Pages.ConsultaTreinosModel

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="~/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/tailwind.output.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer=""></script>
    <script src="../assets/js/init-alpine.js"></script>
</head>

<body style="display: flex;">
    <main class="h-full pb-16 overflow-y-auto">
          <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
              Consulta Treinos
            </h2>

            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
              EM HAVER
            </h4>
            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
              <p class="text-sm text-gray-600 dark:text-gray-400">
                EM HAVER
              </p>
            </div>

            <!-- Cards with title -->
            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">

            </h4>
            <div class="grid gap-6 mb-8 md:grid-cols-2">
              <div class="min-w-0 p-4 text-white bg-purple-600 rounded-lg shadow-xs">
                <h4 class="mb-4 font-semibold">
                  EM HAVER
                </h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Fuga, cum commodi a omnis numquam quod? Totam exercitationem
                  quos hic ipsam at qui cum numquam, sed amet ratione! Ratione,
                  nihil.
                </p>
              </div>
              
              <div class="min-w-0 p-4 text-white bg-purple-600 rounded-lg shadow-xs">
                <h4 class="mb-4 font-semibold">
                  EM HAVER
                </h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Fuga, cum commodi a omnis numquam quod? Totam exercitationem
                  quos hic ipsam at qui cum numquam, sed amet ratione! Ratione,
                  nihil dolorum.
                </p>
              </div>
            </div>
          </div>
        </main>
</body>

</html>